
.page-link.active {
  color: #ff6600;
}

.page-link.active {
  color: #ffffff;
  background-color: #ff6600;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 102 0 / 25%)!important;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #6c757d;
}


.page-details .carousel .carousel-inner {
  max-height: inherit !important;
}
.card .card-body h3 {
  text-transform: none !important;
  /* margin-right: 90px; */
}
section.page-details-infobox .detail-page-infobox .booking-date,
section.page-details-infobox .detail-page-infobox h3 {
  text-transform: none !important;
}


/* .card .card-ribbon {
  background-color: #ff6600;
} */

/* .card .card-ribbon:before {
  display: none;
} */


@media (min-width: 1024px) {
  

  .my-1 {
    margin-top: 0 !important;
  }
  .navbar-brand img {
    width: 100%;
    max-width: 240px;
  }

  /* body > header.sticky,
  body > header.sticky-fix {
    height: 75px;
  } */
  .search-fixed-fix {
    top: 65px;
  }

  .navbar-claim {
    font-size: 24px !important;
    padding-top: 7px;
    text-align: center;
    font-weight: 600;
  }
  body > header.sticky-fix .navbar-brand,
  body > header.sticky .navbar-brand {
    max-width: 240px !important;
  }
}
@media (max-width: 991px) {
  .navbar-brand img {
    max-width: 160px;
  }
}

.ac_results {
  top: 290px !important;
}

.c24-intro {
  display: block;
  font-size: 1.125rem;
}
.c24-intro h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.3;
}

@media (min-width: 992px) {
  .c24-intro h1 {
    font-size: 2.5rem;
  }
}

.c24-services h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #6c757d;
}
.c24-cta h4 {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.3;
}

/* .c24-modelle.gallery-grid .result-box {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

.c24-modelle.gallery-grid .card .card-body p {
  font-size: 0.9rem;
}

.c24-modelle.gallery-grid .card .card-body h3 {
  font-size: 1.125rem;
}
@media (min-width: 992px) {
  .c24-modelle.gallery-grid .card .card-body p {
    font-size: 1rem;
  }

  .c24-modelle.gallery-grid .card .card-body h3 {
    font-size: 1.25rem;
  }
}

.c24-modelle.gallery-grid .card {
  border: none;
}
.c24-input-wo {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.c24-btn-verkaeufer-werden {
  border-width: 2px;
}

.mehrbutton {
  color: #ffffff;
  font-size: 1.125rem;
  border: 2px #3b7859 solid;
  border-radius: 5px;
  padding: 7px 24px;
  font-weight: bold;
  line-height: 1.7;
  cursor: pointer;
  background-color: #3b7859;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  white-space: nowrap;
  outline: none;
}

.mehrbutton:hover {
  background-color: #ff6600;
}

@media (min-width: 992px) {
  .mehrbutton {
    font-size: 1.4rem;
  }
}



.module-view .result-box img {
  width: 100%;
}


.gallery-grid .card .card-body h3 {
  margin-right: 0px;
}


button.baguetteBox-button:focus,
button.baguetteBox-button:active  {
  outline: none;
}

.col-form-label {
  font-weight: 600;
}


.btn-dark{
  box-shadow: #ff6600;
}
.btn-dark:hover{
  background-color: #ff6600;
  border-color: #ff6600;
}

.hero {
  position: relative;
}


.alert-primary {
  color: #ff6600;
  background-color: rgba(255, 102, 0, .1);
  border-color: rgba(255, 102, 0, .25);
  font-weight: 500;
  font-size: 1.25rem;
}

.tagchip {
  position: relative;
  padding: 0.125rem .75rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: .75rem;
  background: #e9ecef;
  display: inline-flex;
  align-items: center;
  line-height: 1.25;
  white-space: nowrap;
}

.tagchip .close{
  font-size: 1.25rem;
  line-height: 1.2;
}

.form-control.icon-right {
  border-right: 0!important;

}

.input-group-append .input-group-text {
  color: #6c757d;
}