.page-link.active {
  color: #ffffff;
  background-color: #f8a913;
}
.page-details .carousel .carousel-inner {
  max-height: inherit !important;
}
.gallery-grid .card .card-body h3 {
  text-transform: none !important;
  margin-right: 90px;
}
section.page-details-infobox .detail-page-infobox .booking-date,
section.page-details-infobox .detail-page-infobox h3 {
  text-transform: none !important;
}

@media (min-width: 992px) {
  .handlerlist .col-lg-5,
  .handlerlist.gallery-grid .list-view .card .carousel,
  .handlerlist.gallery-grid .list-view .card .img-frame {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30% !important;
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }
  .handlerlist .col-lg-7,
  .handlerlist.gallery-grid .list-view .card .card-body {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70% !important;
    flex: 0 0 70% !important;
    max-width: 70% !important;
  }

  .my-1 {
    margin-top: 0 !important;
  }
  .navbar-brand img {
    min-width: 275px;
  }
  body > header.sticky,
  body > header.sticky-fix {
    height: 77px;
  }
  .search-fixed-fix {
    top: 77px;
  }
  .page-searchform + main {
    margin-top: 134px;
  }
  .navbar-claim {
    font-size: 36px !important;
    padding-top: 7px;
    text-align: center;
  }
  body > header.sticky-fix .navbar-brand,
  body > header.sticky .navbar-brand {
    max-width: 275px !important;
  }
}
@media (max-width: 991px) {
  .navbar-brand img {
    min-width: 150px;
  }
}

.ac_results {
  top: 290px !important;
}

.c24-intro {
  display: block;
  font-size: 1.125rem;
}
.c24-intro h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.3;
}

@media (min-width: 992px) {
  .c24-intro h1 {
    font-size: 2.5rem;
  }
}

.c24-services h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #6c757d;
}
.c24-cta h4 {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.3;
}

/* .c24-modelle.gallery-grid .result-box {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

.c24-modelle.gallery-grid .card .card-body p {
  font-size: 0.9rem;
}

.c24-modelle.gallery-grid .card .card-body h3 {
  font-size: 1.125rem;
}
@media (min-width: 992px) {
  .c24-modelle.gallery-grid .card .card-body p {
    font-size: 1rem;
  }

  .c24-modelle.gallery-grid .card .card-body h3 {
    font-size: 1.25rem;
  }
}

.c24-modelle.gallery-grid .card {
  border: none;
}
.c24-input-wo {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.c24-btn-vermieter-werden {
  border-width: 2px;
}

.mehrbutton {
  color: #ffffff;
  font-size: 1.125rem;
  border: 2px #3b7859 solid;
  border-radius: 5px;
  padding: 7px 24px;
  font-weight: bold;
  line-height: 1.7;
  cursor: pointer;
  background-color: #3b7859;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  white-space: nowrap;
  outline: none;
}

.mehrbutton:hover {
  background-color: #9bb06d;
}

@media (min-width: 992px) {
  .mehrbutton {
    font-size: 1.4rem;
  }
}

.c24-modelle .module-view .result-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.module-view .result-box img {
  width: 100%;
}
.c24-modelle-container {
  max-width: 1600px;
}
.c24-modelle.gallery-grid .card .card-button .btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.35em 2em 0.25em 2em;
}

.c24-modelle .card .card-body  {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
}

.gallery-grid .card .card-body h3 {
  margin-right: 0px;
}
@media (min-width: 768px) {
  .c24-modelle .module-view .result-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .c24-modelle .module-view .result-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 1280px) {
  .c24-modelle .module-view .result-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

button.baguetteBox-button:focus,
button.baguetteBox-button:active  {
  outline: none;
}

.col-form-label {
  font-weight: 600;
}
